.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: transparent;
    color: black;
    height: max-content;
    font-size: 25px;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.navbar__item {
    flex-basis: auto;
    list-style-type: none;
    padding: 10px;
}
a:link {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: lightblue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: wavy;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: wavy;
  }
