.intro {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 75px;
}

.child {
    position: relative;
    height: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 75px;
    color: white;

}

.smallchild {
    position: relative;
    height: 100%;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
    color: white;
    
}

.a:hover {
    color: white;
}

.aboutme {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px;
    background: white;
    border-style: double;
    font-family: 'Roboto Mono', monospace;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.projects {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 200px;
    background: white;
    border-style: double;
    font-family: 'Roboto Mono', monospace;
    padding: 25px;
}